[Unit]
Description=Announcer Pro — Sistem Kontrol Audio Masjid
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=orangepi
Group=orangepi
WorkingDirectory=/home/orangepi/announcer_pro
Environment="PATH=/home/orangepi/announcer_pro/venv/bin:/usr/bin"
ExecStart=/home/orangepi/announcer_pro/venv/bin/python /home/orangepi/announcer_pro/run.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=announcer-pro

[Install]
WantedBy=multi-user.target